{
  "semi": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "jsxSingleQuote": true,
  "importOrder": ["^(?!@/|\\./).*$', '^@/.*$', '^\\./.*$"],
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
